@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: var(--Dark-Grayish-Blue);
    /* background-color: lightseagreen; */

}

p {
    color: var(--Grayish-Blue);
}

.header{
    text-align: center;
    padding-top: 100px;
    /* height: 100vh; */
    background-image: url(./images/bg-header-desktop.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 100px;
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.header-title p {
    max-width: 70vw;
}

.header-title h1 {
    width: 80vw;
    font-weight: 600;
    padding: 10px 0;
}

.download-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 100px auto;
    margin-top: 50px;
}

.btn {
    padding: 5px 25px;
    border-radius: 15px;
    color: white;
    font-weight: 600;
}

.ios {
    background-color: #31AB97;
}

.mac{
    background-color: #676AE8;
}

.main-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 100px 0;
}

.main-feature p {
    width: 80vw;
    margin: 20px 0;
}

.main-feature p {
    width: 65vw;
    max-width: calc(960em/16);
    text-align: center;
}

.advantages-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: calc(960em/16);
    width: 100vw;
    margin: 100px auto;
}

.advantages {
    position: relative;
    left: -100px;
}

.advantage {
    text-align: center;
    margin-bottom: 30px;
}

.advantage h3 {
    font-size: 30px;
}

.computer-image {
    position: relative;
    left: -250px;
}

.main-image {
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: 100px auto;
}

.feature-card {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 80vw;
}

.card{
    text-align: center;
    width: 250px;
}
.card img{
    margin-bottom: 20px;
}

.clients{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 80vw;
    margin: 100px auto;
}

footer{
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-inline: auto;
    background-color: #F5F6F8;
    padding: 50px 0;
}

.page-links{
    display: grid;
    max-width: 65vw;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media (max-width: 940px){
    .advantages-block{
        grid-template-columns: 1fr;
        width: 80vw;
        margin-inline: auto;
    }
    .advantages {
        position: relative;
        left: 0;
        width: 60vw;
        margin-inline: auto;
    }
    .advantage h3{
        margin: 10px 0;
    }
    .computer-image {
        position: relative;
        left: 0;
        margin: 0;
    }

    .cmp-img {
        width: 80vw;
        margin: 0;
    }

    .main-img {
        width: 80vw;
        margin-inline: auto;
    }
    
    .page-links{
        margin: 35px auto;
    }

    footer{
        flex-direction: column;   
    }
}